[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pandas = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
req = "bash -c \"pipenv requirements > requirements.txt\""
format = "black src/ tests/"
test = "python -m unittest discover"
